{% layout none %}

<form action="">
    <ul>
        {% for tag in collection.all_tags %}
            <li>
                <label>
                    <input type="checkbox" class="js-filter" name="tags" value="{{tag | value}}" data-query="tag" data-comp=":" data-value="{{tag | value}}"> {{tag}}
                </label>
            </li>        
        {% endfor %}
    </ul>

    <ul>
        <li>
            <label for="price-min">Min</label>
            <input type="number" name="price-min" class="js-filter" id="price-min" data-query="variants.price" data-comp=":>=">
        </li>
        <li>
            <label for="price-max">Max</label>
            <input type="number" name="price-max" class="js-filter" id="price-max" data-query="variants.price" data-comp=":<=">
        </li>
    </ul>
    <input type="submit" value="Filter">
</form>


<div class="products">
    {% for product in collection.products %}
        <a href="{{ product.url }}">
            {{ product.featured_image | img_url: '300x' | img_tag }}

            <strong>{{product.title}} - {{ product.price | money }}</strong>
        </a>
    {% endfor %}
</div>

<style>
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        grid-gap: 20px;
    }

    .products strong {
        display: block;
    }
</style>

<script src="{{ 'custom.js' | asset_url }}"></script>